{% extends "base.html" %}

{% block content %}


    <div class="main" style="">
        <div class="container text-center">
            <h3 class="customfont">Ateşlesene Bi Dal!</h3>
            <img src="static/img/logo.png" alt="Ateslesene bi dal!" width="200" height="200">
            <h3 class="subhead">Sosyal Cuhara Paylaşım Platformu</h3>
            <br>
            <a href="#" class="w3-btn w3-white w3-hover-red w3-round w3-slim pad" role="button">Moruk Var mı Bir Şeyler
                ?</a>
            <a href="#" class="w3-btn w3-white w3-hover-dark-grey w3-round w3-slim pad" role="button">Hadi Size Güzellik
                Yapayım !</a>
        </div>
    </div>

   <!-- <div class="opened">-->
    <div class="container2 fluid">
        <div class="row text-center">
            <div id="triangle-topleft"></div>
            <center><nav class="ij-effect-18"><a href="#" data-hover="Effect 18">Var Bir Şeyler, Hepsini Gör !</a></nav></center>
           <div align="right"><div id="triangle-bottomright"></div></div>
        </div>
    </div>

    <div class="row text-center">
    <div class="cigarette">
        <form>
            <fieldset class="form-group">
                <div align="left"><label for="location">Nerdesin ?</label></div>
                <input type="text" class="form-control" id="location" placeholder="Kütüphane">
            </fieldset>
            <div align="left">
            <fieldset class="form-group">
                <select class="c-select">
                  <option selected>Karşılık beklemiyorum</option>
                  <option value="1">Bi çayını içerim</option>
                  <option value="2">Kanki sende rus numarası var mı?</option>
                  <option value="3">Sen de beni görürsün bi ara</option>
                </select>
            </fieldset></div>
            <fieldset class="form-group">
                <div align="left"><label for="dal">Max Dal :</label></div>
                <input type="number" class="form-control" id="dal" placeholder="3">
            </fieldset>
            <fieldset class="form-group">
                <div align="left"><label for="email">Email :</label></div>
                <input type="text" class="form-control" id="email" placeholder="bacagibituten@std.iyte.edu.tr">
            </fieldset>
            <fieldset class="form-group">
                <button type="submit" class="btn btn-primary">Ateşle!</button>
            </fieldset>
        </form>
    </div>
    </div>


{% endblock %}
