{% extends "base.html" %}

{% block content %}


    <div class="main" style="">
        <div class="container text-center">
            <h3 class="customfont">Ateşlesene Bi Dal!</h3>
            <img src="static/img/logo.png" alt="Ateslesene bi dal!" width="200" height="200">
            <h3 class="subhead">Sosyal Cuhara Paylaşım Platformu</h3>
            <br>
            <a href="#" class="w3-btn w3-white w3-hover-red w3-round w3-slim pad" role="button">Moruk Var mı Bir Şeyler ?</a>
            <a href="#" class="w3-btn w3-white w3-hover-dark-grey w3-round w3-slim pad" role="button">Hadi Size Güzellik Yapayım !</a>
        </div>
    </div>

{% endblock %}
